body {
    margin: 0 auto;
}

header {
    background-image: url("https://www.advantour.com/img/kazakhstan/images/history.jpg");
    background-size: 100% 100%;
    height: 45vw;
}

.master {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 45vw;
}

.master-in {
    margin-left: 11%;
    padding-top: 120px;
}

.head-text {
    color: #00b7ff;
    font-size: 7vw;
    margin-top: 3vw;
    font-weight: bold;
}
.prof {
    margin-top: 4vw;
}
.row{
    display: inline-flex;
    margin-left: 15%;
}
.row span {
    margin-right: 3vw;
    margin-bottom: 3.7vw;
    font-size: .9vw;
    font-weight: 600;
    text-align: center;
}
.row img{
    border-radius: 50%;
}
.inf {
    margin-top: 15vw;
    width: 80vw;
    color: white;
    font-size: 17px;
    font-family: 'FuturaPT', Arial, sans-serif;
    letter-spacing: 0.05vw;
    padding-bottom: .2vw;
}

.content, .cont-content {
    margin-left: 12vw;
    margin-top: 7vw;
}

.content h1 {
    color: #00b7ff;
    font-size: 5vw;
    font-weight: 600;
}
.content img{
    margin-left: 14%;
}
h3 {
    color: #42b5c7;
    font-size: 2vw;
    font-weight: bold;
}

.scnd-inf {
    font-size: 1.2vw;
    line-height: 1.8vw;
    width: 70vw;
}

.contact {
    display: flex;
    margin-top: 4vw;
    background-color: #5c5c5c;
}
img:hover{
    transform: scale(1.09);
}
.cont-content h1 {
    font-size: 5.2vw;
    font-weight: 600;
    color: white;
}

.block {
    padding: 5vw 2vw 8vw 0;
}

.block b {
    color: white;
    font-size: 1.3vw;
    font-family: 'FuturaPT', Arial, sans-serif;
}

.block div {
    color: white;
    font-family: 'FuturaPT', Arial, sans-serif;
    font-size: 1.1vw;
    width: 30vw;
    line-height: 1.5vw;
}

.block img:hover {
    transform: scale(1.2);
}

.carta {
    width: 43vw;
    height: 20vw;
    margin-bottom: 5vw;
}